{% extends "base/base.html" %}
{% block title %}Event Form{% endblock title %}
{% block content  %}
    <div class="max-w-[400px] mx-auto mt-5">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="px-2 py-2 rounded bg-green-500">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{category_form.as_p}} 
            <button class="px-4 py-2 rounded-2xl bg-green-500 my-4 text-white" type="submit">Submit</button>
        </form>
    </div>
{% endblock content  %}