{% extends "base/base.html" %}
{% block title  %}Organizer Dashboard{% endblock title  %}
{% block content  %}
    <div class="max-w-[1400px] mx-auto">
        <!-- Header  -->

        <main>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="px-4 py-2 bg-red-600">
                    ##
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            <!-- Task Table  -->
            {% block events %}
            
            {% endblock events %}
        </main>
    </div>
{% endblock content  %}