<div class="relative overflow-x-auto pb-5">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Events
                </th>
                <th scope="col" class="px-6 py-3">
                    Participants
                </th>
                <th scope="col" class="px-6 py-3">
                    Category
                </th>
                <th scope="col" class="px-6 py-3">
                    Location 
                </th>
                <th scope="col" class="px-6 py-3">
                    &nbsp
                </th>
                <th scope="col" class="px-6 py-3">
                    &nbsp
                </th>
            </tr>
        </thead>
        <tbody>
            {% for event  in events  %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{event.name}}
                </th>
                <td class="px-6 py-4">
                    {{event.participants__count}}
                </td>
                <td class="px-6 py-4">
                    {{event.category}}
                </td>
                <td class="px-6 py-4">
                    {{event.location}}
                </td>
                <td class="px-6 py-4">
                    <a href="{% url "event-update" event.id %}" class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800">Update</a>
                </td>
                <td class="px-6 py-4">
                    <form action="{% url "event-delete" event.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                            Delete
                             <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>