{% extends "base/base.html" %}
{% block title  %}Participants List{% endblock title  %}
{% block content  %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="px-2 py-2 rounded bg-red-500">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="max-w-7xl mx-auto flex flex-col gap-5 justify-center items-center mt-5 ">
        {% for participant  in participants  %}
            <ul class="bg-blue-500/30 w-[300px] p-3 rounded-2xl flex gap-2 justify-center items-center ">
                <li class="">➡️ {{participant.name}}</li>
                <a class="px-4 py-1 bg-green-500 rounded text-white uppercase" href="{% url "participant-update" participant.id %}">update</a>
                <form action="{% url "participant-delete" participant.id%}" method="POST">
                    {% csrf_token %}
                    <button class="cursor-pointer px-4 py-1 bg-red-500 rounded text-white uppercase" type="submit">delete</button>
                </form>
            </ul>
        {% endfor %}
    </div>
{% endblock content  %}