{% extends "base/base.html" %}
{% block title %}Event Form{% endblock title %}
{% block content  %}
    <div class="max-w-[400px] mx-auto mt-5">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="px-2 py-2 rounded bg-green-500">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {% if participant_form.non_field_errors %}
                <div class="text-red-500 mb-4">
                    {% for error in participant_form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% comment %} {{category_form.as_p}}{% endcomment %}
            {% for field in participant_form.visible_fields %}
                <p class="text-white">{{ field.label_tag }}</p>
                {{ field }} 
                {% if field.errors %}
                    <div class="text-red-500 text-sm mt-1">
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}    
            {% endfor %}
            <div>
                <button class="px-4 py-2 rounded-2xl bg-green-500 my-4 text-white" type="submit">Submit</button> 
            </div>
        </form>
    </div>
{% endblock content  %}